.App {
  font-family: sans-serif;
  text-align: center;
  background-color: aquamarine;
  margin-right: 300px;
  margin-left: 300px;
}

.App h1{
  color:rgb(192, 13, 72) ;
}

input {
  background-repeat: no-repeat;
  background-position: 6px;
  border: 1px solid #dadada;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 5px;
  width: 310px;
  height: 30px;
  font-size: 14px;
  margin-left: 100px;
  
  
  
}


.text-danger {
  color: red;
}
.login-button {
  background-color: rgb(218, 239, 142);
  border-radius: 12px;
  font-size: larger;
  
}

